.language {
  outline: none;
  color: #fff;
  border-radius: 5px;
  margin: 0 12px;
  padding: 6px 9px 6px 35px;
  width: 54%;
  background-color: transparent;
  position: relative;
  font-size: 16px;

  /* Ocultar Seta */
  appearance: none; /* Remove a aparência padrão do seletor */
  -webkit-appearance: none; /* Para navegadores baseados em WebKit */
  -moz-appearance: none; /* Para navegadores baseados em Gecko (Firefox) */
  background: transparent; /* Define o fundo como transparente */
}

.traslateIcon {
  position: absolute;
  top: 8px;
  left: 25px;
}

.arrowDown {
  position: absolute;
  top: 10px;
  right: 46%;
}
