.home {
  position: relative;
  width: 100%;
  height: 111vh;
  background-color: #000;

  &::after {
    content: "";
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0)
    );
  }
}

.bg-container {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.background {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;

  img {
    width: 100%;
    height: 120vh;
    object-fit: cover;
    transform: scale(1.25) translateY(-10%);
  }
}

.header {
  position: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 1;
  margin: 8px auto 0 auto;
}

.logo {
  width: 146px;
  margin-left: 12%;

  img {
    width: 100%;
  }
}

.navbar {
  margin-right: 130px;
  width: 270px;
  position: relative;
}

.SignIn {
  padding: 8.5px 15px;
  margin: 0 12px;
  border-radius: 5px;
  color: #fff;
  outline: none;
  cursor: pointer;
  width: 73px;
  font-weight: 600;
  border: none;
  background-color: #e1020d;
  padding: 9.5px 15px;
}

.container--home {
  width: 100%;
  height: 100%;
  background-color: #000;

  &::before {
    content: "";
    width: 100%;
    height: 111vh;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0)
    );
  }
}

.content {
  display: block;
  padding-top: 12%;
  z-index: 1;
  position: sticky;
}

.content--text {
  text-align: center;
}

.text--main {
  font-size: 50px;
  font-weight: 900;
  width: 77%;
  margin: auto;
}

.text--1,
.text--2 {
  font-weight: normal;
  margin: 10px auto;
  width: 100%;
}

.text--1 {
  font-size: 25px;
}

.text--2 {
  margin: -5px auto 0 auto;
  font-size: 20px;
}

.logon-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
  width: 36rem;
  height: auto;
  margin: 20px auto 0px auto;
}

.email:hover,
.letsGo:hover {
  opacity: 0.7;
  transition: all 0.2 ease;
}

.email {
  font-size: 15px;
  border: 1px solid #999999b4;
  border-radius: 4px;
  background-color: rgba(13, 13, 13, 0.363);
  color: #fff;
  padding: 1.1rem 10px;
  font-weight: bold;
  width: 65%;
}

.letsGo {
  display: flex;
  align-items: center;
  width: 195px;
  padding: 11px 0 11px 40px;
  cursor: pointer;
  border-radius: 5px;
  color: #fff;
  outline: none;
  font-weight: 700;
  font-size: 23px;
  border: none;
  background-color: #ea0712;

  .arrowRight {
    font-weight: 100;
    padding: 5px 0 0 5px;
  }
}

.loading {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 700px;
  }
}

@media (max-width: 1280px) {
  .logo {
    margin-left: 0;
  }

  .navbar {
    margin-right: 0;
  }
}

@media (max-width: 960px) {
  .logo {
    width: 90px;
    margin-left: 10px;
  }

  .SignIn {
    margin: 0 5px;
  }

  .content--text {
    width: 100%;
  }

  .text--main {
    font-size: 32px;
  }

  .text--1 {
    font-size: 19px;
  }

  .text--2 {
    font-size: 17.5px;
  }
}

@media (max-width: 600px) {
  .navbar {
    width: 200px;
    margin-right: -15px;
  }

  .logon-form {
    width: 100%;
    display: block;
  }

  .letsGo {
    margin: 20px auto;
  }

  .text--2 {
    width: 80%;
  }
}

/* Pop Up */
.banner--bg {
  position: absolute;
  width: 100%;
  top: -170px;
  z-index: 10;
}

.container--banner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 89%;
  height: 9.5rem;
  background: radial-gradient(
    51.39% 511.66% at 47.68% -217.91%,
    #ff9900 0%,
    #e50914 17.27%,
    #0e1b4f 79.44%,
    #000413 100%
  );
  box-shadow: 0px -8px 25px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  margin: 0 auto;
  color: white;
  padding: 22px;

  .popcorn--img {
    width: 100px;
    margin-right: 0.5em;

    img {
      width: 100%;
    }
  }

  .text-promotion {
    padding-left: 32px;
    margin-top: -20px;

    p {
      display: block;
      margin: 0.5em 0;
      font-size: 1.2em;
    }

    strong {
      display: block;
      margin: 0.5em 0;
      font-size: 1.2em;
      font-weight: bold;
    }
  }
}

.about--more {
  cursor: pointer;
  color: #448ef4;
  display: flex;
  align-items: center;
  gap: 8px;
  width: fit-content;
  font-weight: 600;
  background: none;
  text-decoration: underline;
  padding: 0;
  margin-left: 0.6em;
  font-size: 1.2em;
}

@media (min-width: 1400px) {
  .home {
    height: 100vh;
  }
}

@media (max-width: 805px) {
  .container--banner {
    background: radial-gradient(
      120.35% 220% at 49.86% -6.29%,
      #e50914 0%,
      #0e1b4f 46.15%,
      #0d1121 100%
    );
    height: 13em;
  }

  .popcorn--img {
    position: absolute;
    top: -30%;
    left: 6%;
    width: auto;
  }

  .text-promotion {
    padding-left: 0px;
    margin-top: 0px;

    p,
    strong {
      display: block;
      margin: 0.5em 0 0.5em 0.6em;
      font-size: 1.2em;
    }
  }
}

/* Landing Page */
.landing--page {
  width: 100%;
  max-width: 110em;
  margin: auto;
  height: 100vh;
  background: #000;
  margin-bottom: 10px;
  position: relative;
}

.container-flex,
.container-reverse {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: auto;
  margin: auto;
  background-color: #000;
  padding-top: 80px;
  padding-bottom: 80px;
}

.container-reverse {
  flex-direction: row-reverse;
}

.hr {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -7%;
    left: 50%;
    transform: translate(-50%);
    width: 95%;
    height: 0.3em;
    background-color: #333;
    opacity: 0.5;
  }
}
