.text-- {
  font-weight: 400;
  margin: 10px auto;
  width: 100%;
  font-weight: normal;
}

.text-- {
  font-size: 25px;
}

.text-- {
  margin: -5px auto 0 auto;
  font-size: 20px;
}

.logon-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
  width: 36rem;
  height: auto;
  margin: 20px auto 0px auto;
}

.email:hover,
.letsGo:hover {
  opacity: 0.7;
  transition: all 0.2 ease;
}

.email {
  font-size: 15px;
  border: 1px solid #999999b4;
  border-radius: 4px;
  background-color: rgba(13, 13, 13, 0.363);
  color: #fff;
  padding: 1.1rem 10px;
  font-weight: bold;
  width: 65%;
}

.letsGo {
  display: flex;
  align-items: center;
  width: 195px;
  padding: 11px 0 11px 40px;
  cursor: pointer;
  border-radius: 5px;
  color: #fff;
  outline: none;
  font-weight: 700;
  font-size: 23px;
  border: none;
  background-color: #ea0712;
}

.arrowRight {
  font-weight: 100;
  padding: 5px 0 0 5px;
}
