.header {
  padding: 0;
  position: relative;
  z-index: 10;
}

#logo {
  width: 10.55em;
  margin: 2.5% 0 0 3%;
  cursor: pointer;
}

#body {
  height: 150vh;
  width: 100%;
  background: url(https://assets.nflxext.com/ffe/siteui/vlv3/9db4a880-3034-4e98-bdea-5d983e86bf52/c66c94fd-7bcd-4be0-ac29-0f44d08b80b0/BR-pt-20230925-popsignuptwoweeks-perspective_alpha_website_medium.jpg)
    center center no-repeat;
  background-image: cover;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}

#body::before {
  content: "";
  background-color: rgb(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.container {
  padding: 60px;
  z-index: 90;
  position: relative;
  max-width: 450px;
  height: 650px;
  margin-left: 50%;
  background-color: rgb(0, 0, 0, 0.75);
  transform: translate(-50%, 5%);
  border-radius: 5px;
}

.container h2 {
  color: #fff;
  font-size: 34px;
  margin-bottom: 25px;
}

.container .box-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 25px;
}

.container .box-input input {
  height: 50px;
  width: 100%;
  color: #fff;
  background-color: #333;
  border: none;
  outline: none;
  padding: 0 15px 0 15px;
  border-radius: 5px;
  font-weight: normal;
}

.container .box-input input:hover {
  opacity: 1;
}

.password {
  margin-bottom: 30px;
}

.container .box-input .btn {
  height: 50px;
  width: 100%;
  background-color: #e50914;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 5px;
  transition: all 0.2s ease;
  cursor: pointer;
  outline: none;
  border: none;
}

.btn:hover {
  opacity: 0.7;
}

.support {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  font-size: 15px;
  margin: -10px 0 30px 0;
  line-height: 10px;
}

.support .remember {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: #999;
  font-size: 0.9em;
}

input[type="checkbox"] {
  background-color: #222;
  width: 16px;
  height: 16px;
}

.remember span > input[type="checkbox"]:checked {
  background-color: #fff;
}

.help a {
  color: #999;
  text-decoration: none;
  font-size: 0.88em;
}

.footer {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #b3b3b3;
  font-size: 15px;
  margin-top: 75px;
  margin-bottom: 15px;
}

.footer a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.description_footer {
  color: #b3b3b3;
  font-size: 13px;
  line-height: 18px;
}

.description_footer span {
  color: #0071eb;
  cursor: pointer;
}
