.home {
  position: relative;
  width: 100%;
  height: 111vh;
  background-color: #000;
}

.bg-container {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.background {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.background img {
  width: 100%;
  height: 120vh;
  object-fit: cover;
  -webkit-transform: scale(1.25) translateY(-10%);
  -moz-transform: scale(1.25) translateY(-10%);
  -ms-transform: scale(1.25) translateY(-10%);
  transform: scale(1.25) translateY(-10%);
}

.home::after {
  content: "";
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0)
  );
}

.header {
  position: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  z-index: 1;
  margin: 8px auto 0 auto;
}

.logo {
  width: 146px;
  margin-left: 12%;
}

.logo img {
  width: 100%;
}

.navbar {
  margin-right: 130px;
  width: 270px;
  position: relative;
}

.SignIn {
  padding: 8.5px 15px;
  margin: 0 12px;
  border-radius: 5px;
  color: #fff;
  outline: none;
  cursor: pointer;
}

.SignIn {
  width: 73px;
  font-weight: 600;
  border: none;
  background-color: #e1020d;
  padding: 9.5px 15px;
}

.container--home {
  width: 100%;
  height: 100%;
  background-color: #000;
}

.container--home::before {
  content: "";
  width: 100%;
  height: 111vh;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0)
  );
}

.content {
  display: block;
  padding-top: 12%;
  z-index: 1;
  position: sticky;
}

.content--text {
  text-align: center;
}

.text--main {
  font-size: 50px;
  font-weight: 900;
  width: 77%;
  margin: auto;
}

.text--1,
.text--2 {
  font-weight: 400;
  margin: 10px auto;
  width: 100%;
  font-weight: normal;
}

.text--1 {
  font-size: 25px;
}

.text--2 {
  margin: -5px auto 0 auto;
  font-size: 20px;
}

.logon-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
  width: 36rem;
  height: auto;
  margin: 20px auto 0px auto;
}

.email:hover,
.letsGo:hover {
  opacity: 0.7;
  transition: all 0.2 ease;
}

.email {
  font-size: 15px;
  border: 1px solid #999999b4;
  border-radius: 4px;
  background-color: rgba(13, 13, 13, 0.363);
  color: #fff;
  padding: 1.1rem 10px;
  font-weight: bold;
  width: 65%;
}

.letsGo {
  display: flex;
  align-items: center;
  width: 195px;
  padding: 11px 0 11px 40px;
  cursor: pointer;
  border-radius: 5px;
  color: #fff;
  outline: none;
  font-weight: 700;
  font-size: 23px;
  border: none;
  background-color: #ea0712;
}

.arrowRight {
  font-weight: 100;
  padding: 5px 0 0 5px;
}

.loading {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading img {
  width: 700px;
}

@media (max-width: 1280px) {
  .logo {
    margin-left: 0;
  }

  .navbar {
    margin-right: 0;
  }
}

@media (max-width: 960px) {
  .logo {
    width: 90px;
    margin-left: 10px;
  }

  .language {
    margin: 0 7px;
    padding: 8.5px 35px;
    padding-right: 9px;
  }

  .traslateIcon {
    position: absolute;
    top: 8px;
    left: 20px;
  }

  .arrowDown {
    position: absolute;
    top: 10px;
    right: 46%;
  }

  .SignIn {
    margin: 0 5px;
  }

  .content--text {
    width: 100%;
  }

  .text--main {
    font-size: 32px;
  }

  .text--1 {
    font-size: 19px;
  }

  .text--2 {
    font-size: 17.5px;
  }
}

@media (max-width: 600px) {
  .navbar {
    width: 200px;
    margin-right: -15px;
  }

  .language {
    padding: 6px 28px 6px 35px;
    width: 25%;
  }

  .arrowDown {
    position: absolute;
    top: 10px;
    right: 69%;
  }

  .logon-form {
    width: 100%;
    display: block;
  }

  .letsGo {
    margin: 20px auto;
  }

  .text--2 {
    width: 80%;
  }
}

/* Pop Up */

.banner--bg {
  position: absolute;
  width: 100%;
  top: -170px;
  z-index: 10;
}

.container--banner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: relative;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 89%;
  height: 9.5rem;
  background: radial-gradient(
    51.39% 511.66% at 47.68% -217.91%,
    #ff9900 0%,
    #e50914 17.27%,
    #0e1b4f 79.44%,
    #000413 100%
  );
  box-shadow: 0px -8px 25px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  margin: 0 auto;
  color: white;
  padding: 22px;
}

.popcorn--img {
  width: 100px;
  margin-right: 0.5em;
}

.popcorn--img img {
  width: 100%;
}

.text-promotion {
  padding-left: 32px;
  margin-top: -20px;
}

.text-promotion p,
strong {
  display: block;
  margin: 0.5em 0;
  font-size: 1.2em;
}

.about--more {
  cursor: pointer;
  color: #448ef4;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 8px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 600;
  background: none;
  border: none;
  -webkit-text-decoration: underline;
  text-decoration: underline;
  padding: 0;
  font-size: 1.2em;
}

@media (min-width: 1400px) {
  .home {
    height: 100vh;
  }
}

@media (max-width: 805px) {
  .container--banner {
    background: radial-gradient(
      120.35% 220% at 49.86% -6.29%,
      #e50914 0%,
      #0e1b4f 46.15%,
      #0d1121 100%
    );
    height: 13em;
  }

  .popcorn--img {
    position: absolute;
    top: -30%;
    left: 6%;
    width: auto;
  }

  .text-promotion {
    padding-left: 0px;
    margin-top: 0px;
  }

  .text-promotion p,
  strong {
    display: block;
    margin: 0.5em 0;
    font-size: 1.5em;
  }

  @media (max-width: 400px) {
    .banner--bg {
      display: none;
    }
  }
}

/* Landing Page */

.landing--page {
  width: 100%;
  max-width: 110em;
  margin: auto;
  height: 100vh;
  background: #000;
  margin-bottom: 10px;
  position: relative;
}

.container-flex,
.container-reverse {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: auto;
  margin: auto;
  background-color: #000;
  padding-top: 80px;
  padding-bottom: 80px;
}

.container-reverse {
  flex-direction: row-reverse;
  padding-top: 80px;
  padding-bottom: 80px;
}

.hr {
  position: relative;
}

.hr::before {
  content: "";
  position: absolute;
  top: -40px;
  left: 0;
  width: 150vw;
  height: 0.5em;
  background-color: #222;
  transform: translateX(-30%);
}

.container-message {
  z-index: 1;
  width: 100%;
  margin-left: 130px;
  display: block;
}

.container-reverse .container-message {
  margin-left: 0;
  margin-right: 140px;
}

.title-mock {
  font-size: 3.2em;
  padding: 0.3em 0;
  font-weight: 900;
}

.text-mock {
  display: block;
  font-size: 1.4em;
  text-align: start;
  width: 97%;
}

.container-video,
.container-video-reverse,
.container-flex-three {
  position: relative;
  margin-right: 180px;
}

.container-video-reverse {
  margin-right: 0;
  margin-left: 180px;
  position: relative;
}

.mini-popup {
  position: absolute;
  z-index: 2;
  left: 20%;
  bottom: 10%;
  background-color: #000;
  width: 60%;
  height: 100px;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #999;

  display: flex;
  align-items: center;
}

.img-popup {
  width: 73px;
  transform: translate(-13.8rem, 0.2%);
}

.img-popup img {
  transform: scale(0.116);
  width: 100%;
}

.icon-smartphone {
  width: 3rem;
  height: 3rem;
  margin-right: 15px;
  outline: 2px solid rgb(0, 0, 0);
  outline-offset: -2px;
  display: block;
  background: url(https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/download-icon.gif)
    center center no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
  content: "";
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.loading-download {
  font-size: 0.9em;
  color: #0071eb;
}

.container-video img,
.container-video-reverse img {
  position: sticky;
  z-index: 2;
  display: inline-block;
  width: 500px;
}

.container-video video,
.container-video-reverse video {
  position: absolute;
  top: 20%;
  left: 9%;
  z-index: 1;
  width: 80%;
}

.container-video-reverse video {
  top: 10%;
  left: 17.5%;
  width: 65%;
}

/* Responsive Landing ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

@media (max-width: 960px) {
  .container-flex,
  .container-reverse,
  .container-flex-three {
    display: block;
    text-align: center;
    margin: auto;
    width: 100%;
  }

  .container-video img,
  .container-flex-three img {
    display: block;
    margin: auto;
    transform: translateX(16%);
  }

  .video-e-img {
    width: 500px;
    margin: auto;
    position: relative;
  }

  .container-video video {
    display: block;
    z-index: 1;
    top: 20.5%;
    left: 29%;
    width: 23em;
  }

  .container-video-reverse img {
    display: block;
    margin: auto;
  }

  .container-video-reverse {
    height: 50vh;
    margin-bottom: 60px;
    position: relative;
  }

  .video-e-img-reverse {
    width: 500px;
    margin: auto;
    transform: translateX(-30%);
    position: relative;
  }

  .container-video-reverse video {
    display: block;
    z-index: 1;
    top: 10%;
    left: 18%;
    width: 20em;
  }

  /* end test */

  .container-message {
    width: 90%;
    display: block;
    margin: auto;
    text-align: center;
    font-size: 0.8em;
  }

  .title-mock {
    font-size: 2.5em;
    text-align: center;
  }

  .text-mock {
    font-size: 1.4em;
    text-align: center;
  }

  .mini-popup {
    position: absolute;
    z-index: 2;
    left: 6%;
    bottom: 7%;
    background-color: #000;
    width: 60%;
    height: 100px;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #999;

    display: flex;
    align-items: center;
  }

  .img-popup {
    width: 73px;
    transform: translate(-0.5em, 0.2%);
  }

  .img-popup img {
    transform: scale(0.9);
    width: 100%;
  }
}

@media (max-width: 680px) {
  .mini-popup {
    position: absolute;
    z-index: 2;
    left: 6%;
    bottom: 7%;
    background-color: #000;
    width: 100%;
    height: 100px;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #999;

    display: flex;
    align-items: center;
  }

  .img-popup {
    width: 73px;
    transform: translate(-170px, -0.5%);
  }

  .img-popup img {
    transform: scale(0.16);
    width: 100%;
  }

  .container-video-reverse img {
    padding: 40px 0 0 0;
    width: 25em;
  }

  .video-e-img-reverse {
    width: 500px;
    margin: auto;
    transform: translateX(-42%);
    position: relative;
  }

  .container-video-reverse video {
    display: block;
    z-index: 1;
    top: 18%;
    left: 25%;
    width: 15.5em;
  }

  .container-video img {
    display: block;
    margin: auto;
    transform: translateX(-5%);
    width: 25em;
  }

  .container-flex-three img {
    width: 25em;
    padding: 40px 0 90px 0;
    transform: translateX(8%);
  }

  .container-video video {
    display: block;
    z-index: 1;
    top: 20.5%;
    left: 16.5%;
    width: 18.5em;
  }

  .common-questions {
    font-size: 0.8em;
  }
}

/* Common questions ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.common-questions {
  background-color: #000;
  width: 100%;
  text-align: center;
  padding: 50px 0;
}

.common-questions h1 {
  font-size: 3em;
  font-weight: 900;
  padding-bottom: 10px;
}

.repetition-quest {
  text-align: center;
  margin: auto;
  width: 100%;
  height: auto;
  background-color: #000;
  padding-bottom: 100px;
}

/* Roadapé ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.rodape {
  width: 100%;
  height: auto;
  padding: 50px 0;
  background-color: #000;
  margin: 0;
  padding: 0 80px;
}

.rodape h4 {
  display: block;
  color: #999;
  width: 100%;
  margin-left: 67px;
}

h4 > span {
  text-decoration: underline;
}

.rodape a {
  color: #999;
  display: block;
}

.columns {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.columns--1,
.columns--2 {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.column {
  width: 180px;
  margin: 0 70px;
}

.column a {
  margin: 1.3em auto;
  font-size: 15px;
}

.visual-effect {
  margin-inline-start: -13px;
  width: 270px;
  position: relative;
  overflow: hidden;
}

.visual-effect::after {
  content: "";
  height: 40px;
  width: 53%;
  background-color: #99999919;
  position: absolute;
  top: 0;
  left: 13px;
  border-radius: 5px 5px 5px 5px;
}

.space-letter {
  color: #999;
  font-size: 15px;
}

@media (max-width: 1280px) {
  .rodape {
    padding: 0 0;
  }

  .columns {
    display: flex;
    align-items: baseline;
    justify-content: start;
    position: relative;
  }

  .columns--1,
  .columns--2 {
    flex-direction: column;
  }

  .space-letter {
    position: absolute;
    bottom: -70px;
  }

  .rodape h4 {
    display: block;
    color: #999;
    padding-left: 0;
    width: 100%;
  }
}
